
.bg-event-primary {
    background-color: #2b4083;
}

.text-event-primary {
    color: #2b4083;
}

.mt-8-rem {
    margin-top: 8rem;
}

.mt-7-rem {
    margin-top: 7rem;
}

.mt-6-rem {
    margin-top: 6rem;
}

.mt-5-rem {
    margin-top: 5rem;
}

.px-6-rem{
    padding-left: 6rem;
    padding-right: 6rem;
}

.px-7-rem{
    padding-left: 7rem;
    padding-right: 7rem;
}

.px-8-rem{
    padding-left: 8rem;
    padding-right: 8rem;
}

.px-9-rem{
    padding-left: 9rem;
    padding-right: 9rem;
}

.px-10-rem{
    padding-left: 10rem;
    padding-right: 10rem;
}

.z-index-100 {
    z-index: 100 !important;
}

.start-98{
    left: 98% !important;
}

.translate-middle-close {
    transform: translate(-80%,-15%) !important;
}

.vw-99 {
    height: 99vh !important;
}

.bg-gameplay {
    background-image: url("/assets/img/gameplay/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.z-0{
    z-index: 0 !important;
}

.z-10{
    z-index: 10 !important;
}

.z-20{
    z-index: 20 !important;
}

.floating {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }
}

/* card leaderboard */
.card-leaderboard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #92B1DF;
    background-clip: border-box;
    border: 8px solid rgb(43,64,131);
    border-radius: 0.75rem;
}

.top--29{
    top: -29px !important;
}

.text-zero {
    color: #92B1DF ;
}

.border-white {
    border: 3px solid rgb(255, 255, 255);
}

.bg-point {
    background-image: url("/assets/img/leaderboard/bgnomer.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bg-table-wave-long {
    background-image: url("/assets/img/leaderboard/bglist.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-table-wave-long-desktop {
    background-image: url("/assets/img/leaderboard/bglist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.bg-table-wave-short {
    background-image: url("/assets/img/leaderboard/bglistpendek.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-table-wave-short-desktop {
    background-image: url("/assets/img/leaderboard/bglistpendek.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-table-wave-long {
    background-image: url("/assets/img/leaderboard/bglistpendek.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}

.bg-desktop-leaderboard{
    background-image: url("/assets/img/gameplay/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.top-15 {
    top: 15% !important;
}

.min-screen{
    height: calc(100vh - calc(100vh - 100%))
}
